<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>nofap_chrome_ext - Home</title>
  <link rel="stylesheet" href="home.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body>
  
    <div class="pure-g">
        <div class="pure-u-1-5 side"></div>
        <div class="mid pure-u-3-5">
        <div class="warning-border"> </div>
        <div class="content">
            <div id="app"></div>
        </div>
        <div class="warning-border"> </div>
        </div>
        <div class="pure-u-1-5 side"></div>
    </div>

</body>
</html>
